[Unit]
Description=Static Host Configuration Protocol Daemon in namespace %i
After=network.target

[Service]
Type=simple
Restart=always
KillSignal=SIGINT
EnvironmentFile=-/etc/default/statichcpd

ExecStart=sh -c "(ip netns add %i ; \
            exec ip netns exec %i /usr/bin/python3 -m statichcpd $OPTIONS)"
KillSignal=INT
PIDFile=/run/statichcpd.%I.pid

StandardOutput=journal
StandardError=inherit
