[Unit]
Description=Static Host Configuration Protocol Daemon
After=network.target

[Service]
Type=simple
EnvironmentFile=-/etc/default/statichcpd

ExecStart=sh -c "test x$NAMESPACE = x \
        && exec /usr/bin/python3 -m statichcpd $OPTIONS \
        || (exec ip netns add $NAMESPACE ; \
            exec ip netns exec $NAMESPACE /usr/bin/python3 -m statichcpd $OPTIONS)"
KillSignal=INT
PIDFile=/run/statichcpd.pid

StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
